TOKEN = ""
API_URL = f"https://api.telegram.org/bot{TOKEN}/"
POSTGRES_URL = "postgres://postgres:postgres@URL:5432/postgres"


# Словарь с вопросами
d1_questions = [
    {
        "question": "Санкт-Петербургский филиал НИИАС занимается",
        "buttons": [
            {"text": "Беспилотом и автоматизацией жд", "action": "d1_q1_o1"},
            {"text": "Расписанием поездов", "action": "d1_q1_o2"},
            {"text": "Системой интервального регулирования", "action": "d1_q1_o3"},
            {"text": "Информационными системами", "action": "d1_q1_o4"},
        ],
        "correct": {"d1_q1_o1"},
        "success_message": "И это верно ✅",
        "failure_message": "Не совсем ❌",
        "info_post": ("Мы занимаемся разработкой программно-аппаратных комплексов "
                      "беспилотного железнодорожного транспорта, а также различными "
                      "информационными системами для учета и управления железнодорожными активами.")
    },
    {
        "question": "Отправить заявку на стажировку можно в любое время",
        "buttons": [
            {"text": "Правда", "action": "d1_q2_o1"},
            {"text": "Ложь", "action": "d1_q2_o2"},
        ],
        "correct": {"d1_q2_o1"},
        "success_message": "Абсолютно точно! ✅",
        "failure_message": "Не совсем ❌",
        "info_post": "Для того чтобы отправить заявку достаточно подготовить резюме и выслать его HR!"
    },
    {
        "question": "Какой ФБ критически важен для беспилотного железнодорожного транспорта?",
        "buttons": [
            {"text": "Финансовый Брокер", "action": "d1_q3_o1"},
            {"text": "Файловый Буфер", "action": "d1_q3_o2"},
            {"text": "Формирующий Блок", "action": "d1_q3_o3"},
            {"text": "Функциональная Безопасность", "action": "d1_q3_o4"},
        ],
        "correct": {"d1_q3_o4"},
        "success_message": "Верно! ✅",
        "failure_message": "Не совсем ❌",
        "info_post": ("Для того чтобы обеспечить безопасность беспилотных систем необходимо "
                      "очень точно математически просчитать все используемые алгоритмы и возможные случаи.")
    },
    {
        "question": "Какие праздники отмечают в нашем офисе?",
        "buttons": [
            {"text": "Новый год", "action": "d1_q4_o1"},
            {"text": "День программиста", "action": "d1_q4_o2"},
            {"text": "День железнодорожника", "action": "d1_q4_o3"},
            {"text": "Все вышеперечисленное", "action": "d1_q4_o4"},
        ],
        "correct": {"d1_q4_o4"},
        "success_message": "Конечно! ✅",
        "failure_message": "Не совсем ❌",
        "info_post": ("Мы очень любим отмечать праздники вместе и всегда стараемся удивлять друг друга. "
                      "В профессиональные праздники мы катаемся на рафтах, регате, ходим в веревочные парки, "
                      "проводим квесты по офису или интеллектуальные квизы.")
    },
    {
        "question": "В России любой желающий может покататься на беспилотном поезде",
        "buttons": [
            {"text": "Правда", "action": "d1_q5_o1"},
            {"text": "Ложь", "action": "d1_q5_o2"},
        ],
        "correct": {"d1_q5_o1"},
        "success_message": "Да! ✅",
        "failure_message": "Не совсем ❌",
        "info_post": ("В этом году на МЦК <a href='https://ria.ru/amp/20240828/rzhd-1968954622.html'>первая беспилотная ласточка</a> открыла свои двери для пассажиров."
                      "Её ни с кем не перепутаешь: на борту поезда написано «Управляется автоматически».")
    }
]

admin_ids = [988200424, 244939428]